
asgiref
bcrypt
beautifulsoup4
blinker
Brotli
certifi
chardet
chrome-gnome-shell
click
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
dj-database-url
Django
django-cors-headers
djangorestframework
duplicity
exceptiongroup
fasteners
future
gunicorn
h11
html5lib
httplib2
idna
importlib-metadata
iniconfig
jeepney
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
lxml
macaroonbakery
Mako
MarkupSafe
monotonic
more-itertools
netifaces
numpy
oauthlib
olefile
packaging
pandas
paramiko
pexpect
Pillow
pluggy
protobuf
psycopg2-binary
ptyprocess
pycairo
pycups
PyGObject
PyJWT
pymacaroons
PyNaCl
pyparsing
pyRFC3339
pytest
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
reportlab
requests
scour
SecretStorage
six
soupsieve
sqlparse
systemd-python
tomli
typing_extensions
tzdata
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
usb-creator
uvicorn
wadllib
webencodings
whitenoise
xdg
xkit
zipp
