asgiref
bcrypt
beautifulsoup4
blinker
Brotli
certifi
chardet
click
colorama
cryptography
dj-database-url
Django
django-cors-headers
djangorestframework
exceptiongroup
fasteners
future
gunicorn
h11
html5lib
httplib2
idna
importlib-metadata
iniconfig
lxml
Mako
MarkupSafe
monotonic
more-itertools
netifaces
numpy
oauthlib
olefile
packaging
pandas
paramiko
pexpect
Pillow
pluggy
protobuf
psycopg2-binary
ptyprocess
PyJWT
pymacaroons
PyNaCl
pyparsing
pyRFC3339
pytest
python-dateutil
pytz
pyxdg
PyYAML
reportlab
requests
SecretStorage
six
soupsieve
sqlparse
tomli
typing_extensions
tzdata
urllib3
uvicorn
webencodings
whitenoise
xdg
zipp
